@import "../../../styles/colors.module.scss";

.title {
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
}
.btnColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.btn {
    font-size: 14px;
    font-weight: bold;
}
@media (max-width: 767px) {
    .title {
        text-align: center;
        padding-top: 10px;
    }
}
@media (max-width: 330px) {
    /* .btnColumn {
        width: 90%;
    } */
}